
.page-header {
  padding-top: 11px;
  padding-bottom: 17px;
  border-bottom: 1px solid #E6E6E6;
  background-color: $lighten-color;
  color: $darken-color;
}

.page-header__wrapper {

}

.page-header__logo {

}

.page-header__menu {

}
