.addition {
  @include container;

  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 76px;
  }
}

.addition__wrapper {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.addition__content {
  @include list;

  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-right: 79px;
    margin-bottom: 0;
  }
}

.addition__card {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23px auto;
    grid-row-gap: 23px;

    padding-top: 25px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 28px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
    border-left: none;
    border-right: none;
  }
}

.addition__heading {
  @include title;

  margin-bottom: 36px;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }
}

.addition__title {
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.addition__name {
  @include text-uppercase(16px, 16px, $darken-2-color);

  text-decoration: none;
}

.addition__visual {
  min-height: 289px;
  width: 280px;
  box-sizing: border-box;

  padding: 58px;
  padding-bottom: 43px;

  background-color: $base-color;
  background-image: url("../../img/addition-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet) {
    width: 100%;
    min-height: 200px;
    background-image: url("../../img/addition-bg-tablet.jpg");
  }

  @media (min-width: $desktop) {
    display: flex;
    width: 280px;
    min-height: 289px;
    padding: 42px;
    box-sizing: border-box;
    background-image: url("../../img/addition-bg.jpg");
  }
}

.addition__text {
  @include text(16px, 20px, $lighten-color);

  text-align: center;

  @media (min-width: $tablet) {
    max-width: 165px;
    text-align: left;
    margin-left: auto;
    margin-right: 66px;
  }


  @media (min-width: $desktop) {
    margin-right: 0;
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
  }
}

.addition__button {
  width: 100%;
  padding: 10px 26px;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    padding: 6px 26px;
  }

  @media (min-width: $desktop) {
    width: 244px;
    padding: 7px 26px;
    line-height: 26px;
  }
}
