.button {
  width: 244px;
  box-sizing: border-box;
  display: inline-block;
  padding: 14px 26px;
  border: none;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $lighten-color;
  background-color: $base-color;
}
