.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 18px;
  padding-bottom: 25px;
  border-top: 1px solid $grey-5;

  &--1 {
    padding-top: 17px;
  }

  &--3 .card__image {
    margin-top: 28px;
  }

  &--5 .card__image {
    margin-top: 31px;
  }

  &--7 .card__image {
    margin-top: 24px;
  }

  &:last-child {
    border-bottom: 1px solid $grey-5;
  }

  &--load {
    position: relative;
    padding-top: 77px;
  }

  &--load::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: $grey-4;
  }

  &--load::after {
    position: absolute;
    content: "";
    top: 38px;
    left: 50%;
    width: 30px;
    height: 2px;
    transform: translateX(-48%);
    background-color: $grey-4;
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: center;

    width: 324px;
    min-height: 430px;
    padding-left: 39px;
    padding-right: 36px;
    padding-bottom: 40px;
    box-sizing: border-box;
    background-color: $base-card;

    &--3 .card__image {
      margin-top: 0;
    }

    &--5 .card__image {
      margin-top: 0;
    }

    &--7 {
      padding-bottom: 37px;
    }

    &--7 .card__image {
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 35px;
      border: 1px solid $grey-5;
      background-color: $lighten-color;
    }

    &--load::before {
      top: 52px;
      height: 60px;
    }

    &--load::after {
      top: 84px;
      width: 60px;
    }
  }

  @media (min-width: $desktop) {
    width: 245px;
    padding-left: 40px;
    padding-right: 37px;

    &:last-child {
      padding-bottom: 35px;
      padding-left: 35px;
    }
  }
}

.card__visual {
  position: relative;
  width: 50%;

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.card__picture {
  display: flex;
  height: 100%;
}

.card__image {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  &--big {
    margin-top: 11px;
  }

  @media (min-width: $tablet) {
    position: absolute;
    top: -63px;
    left: 50%;
    width: 161px;
    height: 174px;
    margin-top: 0;
    transform: translateX(-50%);

    &--big {
      width: 168px;
      height: 200px;
      top: -90px;
    }
  }

  @media (min-width: $desktop) {
    top: -71px;

    &--big {
      top: -100px;
    }
  }
}

.card__content {
  width: 50%;
  margin-top: auto;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.card__title {
  @include text-uppercase(16px, 20px, $darken-3-color);

  max-width: 80px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;

  &--load {
    max-width: 230px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 22px, $darken-3-color);

    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-left: 12px;
    margin-bottom: 25px;

    &--load {
      margin-bottom: 22px;
    }
  }
}

.card__name {
  @include text-uppercase(16px, 20px, $darken-2-color);

  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    line-height: 21px;
  }
}

.card__description {
  @include text(12px, 16px);

  &--load {
    margin-top: 0;
    margin-bottom: 21px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;

    max-width: 170px;
  }
}

.card__button {
  width: 100%;

  &--all {
    color: $text-color;
    background-color: $base-card;

    &:hover {
      background-color: $grey-5;
    }

    &:focus {
      color: $text-color;
      opacity: 0.3;
      background-color: $grey-5;
    }

    &:active {
      color: $text-color;
      opacity: 0.3;
      background-color: $grey-5;
    }
  }

  @media (min-width: $tablet) {
    width: 248px;
    padding: 10px 26px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 10px 26px;
  }
}

.card__wrap {
  width: 100%;

  @media (min-width: $tablet) {
    padding-top: 86px;
  }
}
