.contacts {
  background-color: $lighten-color;

  &--gray {
    background-color: $base-card;
  }
}

.contacts__inner {
  padding-top: 26px;
  padding-bottom: 28px;
}

.contacts__invite {
  @include text-uppercase(16px, 18px, #111111);
}

.contacts__address {
  @include text(14px, 20px);
}
