.contacts {
  position: relative;
  background-color: $lighten-color;

  &--gray {
    background-color: $base-card;
  }
}

.contacts__wrapper {
  @include container;

  @media (min-width: $tablet) {
    margin-left: 40px;
    margin-right: 42px;
  }
}

.contacts__inner {
  display: flex;
  justify-content: space-between;

  padding-top: 26px;
  padding-bottom: 28px;

  @media (min-width: $tablet) {
    padding-top: 59px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding-top: 58px;
    padding-left: 76px;
    padding-right: 85px;
    padding-bottom: 57px;
    box-sizing: border-box;

    background-color: $lighten-color;
  }
}

.contacts__invite {
  @include text-uppercase(16px, 21px, $darken-3-color);

  max-width: 140px;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 25px);

    max-width: 171px;
    margin-top: 5px;
    text-align: left;
  }
}

.contacts__address {
  @include text(14px, 20px);

  width: 140px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 159px;
    line-height: 22px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.contacts__city {
  margin-top: 17px;
}
