.development {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.development__name {
  @include text(16px, 18px);
  text-decoration: none;

  @media (min-width: $tablet) {
    margin-right: 22px;
  }
}
