.input {
  @include text-uppercase;

  flex-grow: 1;
  padding: 13px 15px;
  border: 1px solid $grey-3;
  color: $text-color;
  line-height: 18px;
  text-align: left;

  &::placeholder {
    color: $text-color;
    text-transform: uppercase;
  }

  &:hover {
    border-color: $grey;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus + .input__icon line,
  &:focus + .input__icon path {
    stroke: $base-color;
  }

  &:focus + .input__icon--phone g path {
    fill: $base-color;
  }

  &:focus,
  &:active {
    padding: 12px 14px;
    border: 2px solid $text-color;
  }

  &--error {
    padding: 12px 14px;
    border: 2px solid $error;
    transition: all 0.3s linear;

    .input__icon--email line,
    .input__icon--email path {
      stroke: $error;
    }
  }

  @media (min-width: $tablet) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;

    &:focus,
    &:active {
      padding: 9px 18px;
    }
  }
}

.input__icon {
  position: absolute;
  right: 20px;
}
