.intro {
  min-height: 302px;
  box-sizing: border-box;
  padding-top: 27px;
  margin-bottom: 200px;

  background-color: $base-color-darken-2;
  background-image: url("../../../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: $lighten-color;

  @media (min-width: $tablet) {
    min-height: 610px;
    padding-top: 0;
    background-image: none;
    background-color: $lighten-color;
  }

  @media (min-width: $desktop) {
    min-height: 694px;
    margin-top: -150px;
    padding-top: 150px;
    margin-bottom: 82px;

    background-image: url("../../../img/intro-bg-desktop.jpg"),
      linear-gradient(to right, $lighten-color 50%, $base-color-darken-2 50%, $base-color-darken-2 100%);

    background-repeat: no-repeat;
    background-position: top 10px right, center;
    background-size: contain;
  }
}

.intro__wrapper {
  @include container;

  position: relative;
}

.intro__content {
  @media (min-width: $tablet) {
    position: absolute;
    z-index: 2;
    max-width: 414px;
    margin-left: 87px;
  }
}

.intro__heading {
  @include h1($lighten-color);

  max-width: 400px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    max-width: 100%;
    margin-bottom: 41px;
    color: $darken-color;
  }

  @media (min-width: $desktop) {
    margin-top: 82px;
  }
}

.intro__slogan {
  @include text-uppercase(14px, 14px, $lighten-color);

  @media (min-width: $tablet) {
    margin-bottom: 49px;
    text-align: left;
    color: $darken-color;
  }
}

.intro__button {
  position: relative;
  width: 100%;
  top: 288px;
  padding: 11px 26px;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    top: 0;
    width: 244px;
    padding: 14px 26px;
  }
}

.intro__image {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 280px;
  height: 270px;
  transform: translateX(-50%);

  @media (min-width: $tablet) {
    top: 205px;
    z-index: 1;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    top: 0;
    left: 60%;

    width: 559px;
    height: 499px;
  }
}
