.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  &:active {
    opacity: 0.6;
    transition: all 0.3s linear;
  }

  @media (min-width: $tablet) {
    max-width: 174px;
  }

  @media (min-width: $desktop) {
    max-width: 202px;
  }
}

.logo__image {
  @media (min-width: $tablet) {
    margin-right: 0;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    height: 59px;
  }
}
