.menu {
  display: block;

  &--closed .menu__control {
    top: 19px;
    right: 19px;
  }
}

.menu__control {
  position: absolute;
  top: 19px;
  right: 20px;
  width: 26px;
  height: 26px;
  border: none;
  padding: 0;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu__close {
  width: 18px;
  height: 18px;

  &.active {
    display: block;
  }
}

.menu__open {
  display: none;
  width: 24px;
  height: 16px;

  &.active {
    display: block;
  }
}
