.page-main__wrapper {
  @include container;

  margin-top: 27px;
  margin-bottom: 39px;

  &--form {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet) {
    &--form {
      margin-left: 39px;
      margin-right: 35px;

      margin-bottom: 66px;
    }
  }

  @media (min-width: $desktop) {
    &--form {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 64px;
    }
  }
}

.page-main__heading {
  @include h1;

  margin-top: 27px;
  margin-bottom: 37px;

  text-align: left;

  &--catalog {
    @include container;

    margin-top: 27px;
    margin-bottom: 41px;
  }

  &--form {
    max-width: 700px;
  }

  @media (min-width: $tablet) {
    &--catalog {
      margin-bottom: 165px;
    }

    &--form {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop) {
    &--form {
      margin-bottom: 56px;
    }
  }
}

.page-main__description {
  @include text-uppercase(14px, 18px);

  margin-top: 0;
  text-align: left;

  &--form {
    max-width: 250px;
  }

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 30px);

    max-width: 323px;
    text-align: left;
  }
}
