.page-main__wrapper {
  @include container;

  margin-top: 27px;
  margin-bottom: 39px;

  &--form {
    @media (min-width: $tablet) {
      margin-left: 39px;
      margin-right: 35px;

      margin-bottom: 66px;
    }

    @media (min-width: $desktop) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.page-main__heading {
  @include h1;

  margin-top: 27px;
  margin-bottom: 37px;

  text-align: left;

  &--catalog {
    @include container;

    margin-top: 27px;
    margin-bottom: 41px;

    @media (min-width: $tablet) {
      margin-bottom: 83px;
    }
  }

  &--form {
    max-width: 700px;

    @media (min-width: $tablet) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 56px;
    }
  }
}

.page-main__description {
  @include text-uppercase(14px, 18px);

  margin-top: 0;
  text-align: left;

  @media (min-width: $tablet) {
    max-width: 323px;
  }

  &--form {
    line-height: 30px;
  }
}
