.page-header {
  border-bottom: 1px solid $grey-2;
  background-color: $lighten-color;
  color: $darken-color;

  @media (min-width: $tablet) {
    margin-bottom: 64px;
    padding-top: 25px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    padding-top: 54px;
  }
}

.page-header__wrapper {
  @media (min-width: $tablet) {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.page-header__logo {
  position: relative;
  max-width: 190px;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 0 20px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

.page-header__menu {
  margin-bottom: 3px;
}
