.review {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $background-color;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 61px;
    background-color: $lighten-color;
    background-image: linear-gradient($lighten-color 0%, $lighten-color 55%, $background-color 55%, $background-color 100%);
  }

  @media (min-width: $desktop) {
    padding-bottom: 15px;
    background-color: $background-color;
    background-image: linear-gradient($lighten-color 0%, $lighten-color 22.7%, $background-color 22.7%, $background-color 100%);
  }
}

.review__wrapper {
  @media (min-width: $tablet) {
    @include container;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.review__inner {
  padding: 0 20px;
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    margin-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 440px;
    margin-bottom: 0;
  }
}

.review__heading {
  @include h2;

  margin-top: 0;
  margin-bottom: 33px;
  text-align: left;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 146px;
  }
}

.review__text {
  @include text;

  margin-bottom: 25px;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    max-width: 700px;
    margin-bottom: 54px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    max-width: 435px;
    margin-bottom: 69px;
  }
}

.review__list {
  @include list;

  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    margin-bottom: 40px;
  }
}

.review__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 124px;
  margin-right: 32px;
  padding-top: 14px;
  padding-bottom: 18px;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    width: 162px;
    margin-right: 42px;
    padding-top: 14px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop) {
    width: 162px;
    text-align: center;
  }
}

.review__count {
  @include text-uppercase(24px, 24px);

  @media (min-width: $tablet) {
    @include text-uppercase(30px, 37px);
  }
}

.review__description {
  @include text(12px, 12px);

  position: absolute;
  bottom: -14px;
  max-width: 77px;
  margin-top: 9px;
  margin-bottom: 0;
  padding: 0 5px;
  text-align: center;
  background-color: $background-color;

  @media (min-width: $tablet) {
    bottom: -6px;
    max-width: 143px;
    padding: 0 8px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 14px;
    background-color: $lighten-color;
  }

  @media (min-width: $desktop) {
    background-color: $background-color;
  }
}

.review__title {
  @include text-uppercase(14px, 20px);

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 20px);

    justify-self: end;
    max-width: 175px;
    margin-top: 10px;

    text-align: right;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
}

.review__price {
  @media (min-width: $tablet) {
    display: inline-block;
    margin-top: 10px;
  }

  @media (min-width: $desktop) {
    margin-left: 59px;
  }
}
