.slider {
  @media (min-width: $desktop) {
    position: relative;
    bottom: 45px;
  }
}

.slider__item {
  display: flex;
  margin-bottom: 24px;

  &--2 {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
  }
}

.slider__picture {
  margin: auto;
}

.slider__image {
  margin: auto;

  @media (min-width: $tablet) {
    width: 677px;
    height: 504px;
  }

  @media (min-width: $desktop) {
    width: 648px;
    height: 508px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 6px;

  @media (min-width: $desktop) {
    max-width: 585px;
    margin-left: auto;
  }
}

.slider__button {
  @include text-uppercase(16px, 20px);

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 21px;
  margin-right: 15px;
  border: none;
  background-color: transparent;
  transition: all 0.7s linear;

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 30px);

    width: 50px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }


  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $darken-color;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.4);
    transition: all 0.7s linear;
  }

  &:active {
    border-color: transparent;
    transition: all 0.7s linear;
  }
}
