
.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $base-card;
}

.page-footer__wrapper {

}

.page-footer__company-name {

}

.page-footer__socials {

}

.page-footer__development {

}
