
.steps {
  margin-bottom: 42px;
  background-color: $lighten-color;
  color: $darken-color;
}

.steps__wrapper {
}

.steps__heading {
  @include h2;
}

.steps__list {
  @include list;
}

.steps__item {
  &--1 {

  }
  &--2 {

  }
  &--3 {

  }
  &--4 {

  }
}

.steps__text {
  @include text;
}

