.review {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $background-color;
}

.review__heading {
  @include h2;
}

.review__text {
  @include text;
}

.review__list {
  @include list;
}

.review__count {
  @include text-uppercase(24px, 24px);
}

.review__description {
  @include text(12px, 12px);
}

.review__price {
  @include text-uppercase(14px, 20px);
}
